/*Esta es la plantilla de buenas pràcticas*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{/*para usar un flex es necesario aplicarlo al padre*/
    border: 0.3rem solid black;
    height: 50vh;
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
  background-color: blue;  
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: aquamarine;
}
.box4{
    background-color: aqua;
}
.box5{
    background-color: cadetblue;
}
.box6{
    background-color: cyan;
}
